.home-page {
    display: flex;
    justify-content: center;
    align-items: center;
}

.options {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.play-button,
.friends-button,
.online-button,
.leaderboard-button,
.about-button {
    width: 100%;
    border: none;
    padding: 15px 30px;
    margin: 10px;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s;
    box-shadow: 4px 4px black, -4px -4px black;
}

.play-button {
    background-color: #ff5733;
    color: white;
}

.friends-button {
    background-color: #ffcc29;
    color: #333;
}

.online-button {
    background-color: #29a329;
    color: white;
}

.leaderboard-button {
    background-color: #665cff;
    color: white;
} 

.about-button {
    background-color: beige;
    color: #333;
}

.play-button:hover,
.friends-button:hover,
.online-button:hover,
.leaderboard-button:hover,
.about-button:hover {
    transform: scale(1.05);
}
