<div class="play-page">
    <div class="options">
        <button type="button" class="play-random" routerLink="/playrandom">Random Play</button>
        <button type="button" class="play-friends" routerLink="/playfriend">Play With Friend</button>
        <button type="button" class="play-offline" routerLink="/playoffline">Play Offline</button>
        <button type="button" class="play-ai" routerLink="/playai">Play Against AI</button>
        <button type="button" class="how-to-play" routerLink="/howtoplay">How To Play</button>
      </div>
</div>