<body>
    <div class="navbar" *ngIf="ismenurequired">
        <div class="home">
            <a class="nav-link" routerLink="/"><img src="/assets/images/home.jpg" alt="home"/></a>
        </div>
        <div class="backgammon-image">
            <img src="/assets/images/backgammon.jpg" alt="backgammon"/>
        </div>
        <div class="right-items">
            <div class="inbox">
                <a class="nav-link" routerLink="/notifications">
                    <img [src]="(allRead) ? '/assets/images/read.jpg' : '/assets/images/unread.jpg'" alt="notifications"/>
                </a>
            </div>
            <div class="profile">
                <div class="profile-menu">
                    <img [src]="profile.image" alt="profile" [routerLink]="['/profile', profile._id]">
                    <div class="profile-dropdown">
                        <a routerLink="edit-settings">Edit Settings</a>
                        <a (click)="logout()">Logout</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="content-wrap">
        <div class="my-container">
            <router-outlet></router-outlet>
        </div>
    </div> 

    <div class="global-chat" *ngIf="ismenurequired">
        <a (click)="globalChat = !globalChat">
            <img src="/assets/images/globalchat.jpg"
                alt="globalchat"/>
        </a>
        <app-global-chat *ngIf="globalChat" [user]="user" [profile]="profile" (closeChat)="handleCloseChat()"></app-global-chat>
    </div>
    
    <div class="footer" *ngIf="ismenurequired">
        <p class="footer-text">© 2023 Elad Levi - All rights reserved.</p>
    </div>
</body>
  
