<div class="leaderboard-page">
    <h1>Leaderboard</h1>

    <div *ngIf="loading" class="loader"></div>

    <ng-container *ngIf="!loading">
        <div *ngIf="profiles.length == 0">
            No players in the leaderboard 😔
        </div>

        <table *ngIf="profiles.length > 0">
            <thead>
                <tr>
                    <th>Image</th>
                    <th>Nickname</th>
                    <th>Score</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let profile of profiles" class="leaderboard-user" [routerLink]="['/profile', profile._id]">
                    <td><img [src]="profile.image" alt="{{ profile.nickname }}" width="50" height="50"></td>
                    <td>{{ profile.nickname }}</td>
                    <td>score</td>
                </tr>
            </tbody>
        </table>
    </ng-container>
</div>