<!-- <div class="friends-list">
    <h2>Your Friends</h2>
    <ul>
      <li *ngFor="let friend of friends">
        {{ friend.name }}
        <span *ngIf="friend.online">Online</span>
        <span *ngIf="!friend.online">Offline</span>
      </li>
    </ul>
  </div>
  
  <div class="friend-requests">
    <h2>Incoming Friend Requests</h2>
    <ul>
      <li *ngFor="let request of incomingRequests">
        {{ request.from }}
        <button (click)="acceptFriendRequest(request.id)">Accept</button>
        <button (click)="rejectFriendRequest(request.id)">Reject</button>
      </li>
    </ul>
  </div>
   -->